<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页问题页</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <div class="calendar">
        {% comment %}
         <!--{% if username %}-->
        {% endcomment %}
        {% if user %}
        <h3>当前用户为：{{ user }}</h3> <a href="{% url 'votetest:LoginOut' %}">退出登录</a>
        <a></a>
        {% else %}
        <h3>没有用户</h3>
        {% endif %}

        <h1>问题菜单</h1>
        {% if questions %}
        <ul>
            {% for q in questions %}
            <li><a href="{% url 'votetest:choice' q.id %}">{{ forloop.counter }}{{ q.info }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>没有问题</h2>
        {% endif %}
    </div>

</body>
</html>