/***********************
Category Navigation
************************/

.category-nav {
  -webkit-flex: 0 0 8rem;
  -moz-flex: 0 0 8rem;
  -ms-flex: 0 0 8rem;
  flex: 0 0 8rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  padding-top: 2rem;
  position: relative;
  border: 1px solid #ddd;
}

.sadia-catnav-title {
  color: #ffffff;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
}

.sadia-catnav-title span {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.sadia-catnav-title:hover {
  color: #fe4536;
}

.sadia-catnav-menu {
  width: 280px;
  position: absolute;
  right: 0;
  background: #fff;
  top: 100%;
  z-index: 9;
  border: 1px solid #fe4536;
  border-top: none;
  text-align: left;
}

.sadia-catnav-menu.hidden-in-default {
  display: none;
}

.sadia-category-nav-items {
  position: relative;
}

.sadia-category-nav-items a {
  display: block;
  padding: 2rem 1rem;
  margin: 0 1.5rem;
  font-size: 1.4rem;
  color: #2c2e3d;
  position: relative;
}

.sadia-category-nav-items a.js-expand-hidden-menu {
  padding-left: 4rem;
}

.sadia-category-nav-items a.js-expand-hidden-menu:before {
  position: absolute;
  content: '\f067';
  font-family: fontAwesome;
  left: 1rem;
  top: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid currentColor;
  text-align: center;
  line-height: 2rem;
  margin-top: -1rem;
}

.sadia-category-nav-items a.js-expand-hidden-menu.close:before {
  content: '\f068';
}

.sadia-category-nav-items>a {
  border-bottom: 1px solid #ededed;
}

.sadia-category-nav-items.has-children:after {
  position: absolute;
  content: "\f054";
  right: 1rem;
  top: 50%;
  color: #2c2e3d;
  font-family: fontAwesome;
  font-size: 1.2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sadia-category-nav-items.has-children:hover .category-submenu {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.category-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background: #fff;
  z-index: 99;
  padding: 2rem;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: none;
  -webkit-flex-wrap: nowrap;
  -mox-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  white-space: -moz-nowrap;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 0;
}

.sadia-category-submenu {
  padding: 0 1.5rem;
}

.sadia-category-submenu-title {
  color: #fe4536;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.category-submenu ul li a {
  border-bottom: none;
  margin: 0;
  padding: 0;
  line-height: 2.5;
}

.category-submenu--image {
  border: none;
  flex: 1 0 100%;
}

.category-nav {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
}

.category-nav .sadia-catnav-title {
  text-align: left;
  color: #333;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ddd;
}

.category-nav .sadia-catnav-title span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1rem;
}

.category-nav .sadia-catnav-menu {
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
  border: none;
}

.category-nav .sadia-catnav-menu a:hover {
  color: #fe4536;
}

.category-nav .sadia-category-nav-items a {
  margin: 0;
}

.category-nav .sadia-category-nav-items.has-children:hover .category-submenu {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  border-bottom: 1px solid #ddd;
}

.category-nav .sadia-category-submenu-title {
  color: #fe4536;
}

.category-nav .category-submenu {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
